# =========================
# 临时和缓存
# =========================
tmp/
# legacy旧数据
.legacy/
# =========================
# 原始数据 / 未处理数据
# =========================
data/raw/
data/interim/

# 结果目录全部忽略
data/results/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS 系统文件
# =========================
.DS_Store

# =========================
# PLINK / 基因型数据
# =========================
*.pgen
*.pvar
*.psam
*.bed
*.bim
*.fam
*.bgen
*.vcf
*.vcf.gz
*.bcf
*.csi
*.tbi

# =========================
# GWAS 结果
# =========================
*.glm.*
*.assoc.*
*.logistic
*.linear

# =========================
# PCA / LD / 中间文件
# =========================
*.eigenvec
*.eigenval
*.prune.*
*.nosex
*.log

# =========================
# 大数据格式
# =========================
*.parquet
*.feather
*.h5
*.hdf5

# =========================
# 特定脚本
# =========================
src/cima_reg/mahtplot_greenpurple.py
src/cima_reg/get_ADD.py